* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
  background: #1d1d1d;
}

h1 {
  text-align: center;
  color: #00a;
  font-size: 3em;
  padding-bottom: 0.1em;
  margin-bottom: 50px;
}

img {
  width: 90px;
  height: 90px;

}

li {
  font-size: 25px;
  margin-left: 1.3em;
  padding-bottom: 2em;
  padding-right: .2em;
}

p {
  font-size: 1.3em;
  padding-bottom: .5em;
}

.text-box {
  background-color: #000;
  padding: 1%;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  position: relative;
  bottom: 8%;
}

.text-box h1 {
  font-size: 100px;
  line-height: 160px;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  background: url(../HTML_dosColumnas/IMG/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s both infinite;
}

@keyframes back {
  55% {
    background-position: -2000px 0;
  }

  1% {
    background-position: 1px 0;
  }
}


#columnas {
  background-color: rgba(221, 221, 221, 0.616);
  overflow: hidden;
  padding-bottom: 2%;
}

#contenedor {
  margin: 10px auto;
  width: 95%;
}

#contenido {
  background-color: #ddd;
  float: left;
  margin-bottom: -32767px;
  max-width: -moz-calc(92% - 120px);
  max-width: -webkit-calc(92% - 120px);
  max-width: calc(92% - 120px);
  padding: 2%;
  padding-bottom: 32767px;
  width: 71%;
  text-align: justify;
}

#contenido p {
  margin-left: 20px;
}

#menu {
  background-color: #dad4d400;
  float: left;
  margin-bottom: -32767px;
  min-width: 120px;
  padding: 2%;
  padding-bottom: 32767px;
  width: 21%;
}

#menu ul {
  margin-top: 160px;
}

#menu ul li {
  list-style: none;

}

#menu ul li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  transition: transform 0.5s;
}

#menu ul li a:hover {
  transition: 0.5s ease-in-out;
  transform: skewY(10deg);
  text-shadow: 7px 15px 4px rgba(0, 0, 0, 0.568);

}

#pie {
  background-color: #0e0e0e79;
  clear: both;
  color: rgb(0, 0, 0);
  padding: 2%;
  text-align: center;
}
#pie p{
  color: #fff;
}

.uil-facebook-f {
  color: #2713df;
  font-size: 40px;
  margin-right: 20px;
}


.uil-youtube {
  color: rgb(218, 11, 11);
  font-size: 40px;
  margin-right: 20px;
}

.uil-instagram {
  background: linear-gradient(#fb1e0c, #ff7900, #e01950);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
  margin-right: 20px;
}

.uil-linkedin-alt {
  color: rgb(23, 107, 156);
  font-size: 40px;
  margin-right: 20px;
}

.uil-ellipsis-h {
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-right: 20px;
}